.dropdown__wrap{
    overflow: visible;
    position: relative;
    z-index: 11;
    .dropdown__header{
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
        outline: none;
        justify-content: flex-end;
        .dropdown__header__img{
            width: 15px;
            height: 15px;
            margin-right: 15px;
        }
        .dropdown__selected__label{
            color:#33adff;
            margin-right: 15px;
            font-size: 16px;
            font-weight: 600;
        }
        .dropdown__arrow{
            background-image: url("../images/arrow-down.svg");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 15px;
            height: 15px;
            margin-top: 2px;
        }
    }
    .dropdown__menu{
        width: 100%;
        opacity: 0;
        position: absolute;
        background-color: #fff;
        padding: 5px 0px;
        box-shadow: 4px 5px 30px -3px rgba(0, 0, 0, 0.2);
        z-index: 12;
        transition: all 0.5s ease;
        pointer-events: none;
        &.open{
            opacity: 1;
            pointer-events: all;
        }
        .menu__item{
            padding: 5px 15px;
            cursor: pointer;
            &:hover{
                background-color: rgba(0,0,0,0.03);
            }
            &.selected{
                color:#33adff;
                font-weight: 800;
            }
        }
    }
    .dropdown__mask{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        pointer-events: none;
        &.active{
            pointer-events: all;
        }
    }
}