.homepage-wrapper{
    position: relative;
    .head-wrap{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: 70px;
        z-index: 2;
        display: flex;
        align-items: center;
        box-shadow:0px 15px 30px -10px rgba(221, 221, 221, 0.5);
        .logo{
            font-size: 22px;
            margin-left: 90px;
            text-transform: uppercase;
        }
        .menu-wrap{
            display: flex;
            flex: 1;
            justify-content: flex-end;
            align-items: center;
            padding: 0px 90px;
            .menu-item{
                user-select: none;
                color: #595f62;
                font-size: 15px;
                text-transform: uppercase;
                font-weight: 600;
                margin: 0px 15px;
                cursor: pointer;
                transition: all 0.25s linear;
                &:active{
                    color: #2C3438;
                }
                &:hover{
                    color: #2C3438;
                }
            }
        }
    }
    .input-options{
        padding: 120px 40px 20px 40px;
        display: flex;
        justify-content: center;
    }
    .main-section{
        padding: 70px 40px 20px 40px;
        .images-wrap{
            display: flex;
            justify-content: center;
            .image-wrap{
                display: inline-block;
                margin: 10px 20px;
                .img-holder{
                    cursor: pointer;
                    width: 250px;
                    height: 200px;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    overflow: hidden;
                    border-radius: 4px;
                    margin: 10px auto;
                    border:1px solid #aaa;
                }
                .chips-holder{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    .chipc{
                        margin: 7px 10px !important;
                        transition: all 200ms ease;
                        span{
                            font-size: 16px !important;
                            color:#000 !important;
                        }
                    }
                }
                .btn-wrap{
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

.tag-dialog-wrap{
    display: flex;
    justify-content: center;
    .tag-section{
        width: 50%;
        padding: 5px 15px;
    }
}

.dialog-image-preview-wrap{
    margin-top:10px;
    display: flex;
    justify-content: center;
    .dialog-image-preview{
        cursor: pointer;
        width: 200px;
        height: 150px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        border-radius: 4px;
        margin: 10px auto;
        border:1px solid #aaa;
    }
}